main{
    height: 480px;
    width: 640px;

    background-image: url(imgs/Ground.png);
    background-size: 32px;

    border: 5px solid black;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
}

.shoot img{
    visibility: hidden;
}

.call-shot{
    position: absolute;
    height: 3px;
    width: 420px;

    top: 330px;
    left: 120px;
    
    animation-name: player-shot;
    animation-duration: 0.1s;
}

.win-text *{
    position: absolute;
    left: 125px;

    color: white;
    font-size: 60px;
}

.path-background{
    position: absolute;
    height: 64px;
    width: 640px;
    top: 300px;

    background-image: url(imgs/Path.png);
    background-size: 64px;

    image-rendering: pixelated;
}

.saloon{
    position: absolute;
    top: 80px;
    left: 200px;
}

.saloon img{
    height: 176px;
    image-rendering: pixelated;
}

.house{
    position: absolute;
    top: 38px;
    left: 475px;
}

.house img{
    height: 220px;
    image-rendering: pixelated;
}

.countdown{
    position: absolute;
    top: 170px;
    left: 250px;

    background-image: url(imgs/three.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    image-rendering: pixelated;
    
    animation-delay: 4s;
    animation-name: counter;
    animation-timing-function: step-start;
    animation-duration: 2s;
}

/**/
.player-group img{
    width: 50px;
}

.player1{
    position: absolute;
    top : 300px;
    left: 100px;

    animation-name: player1_anim;
    animation-duration: 4s;

    image-rendering: pixelated;
}

.player2{
    position: absolute;
    top : 300px;
    left: 500px;

    animation-name: player2_anim;
    animation-duration: 4s;

    image-rendering: pixelated;
}

/* animations */
@keyframes player1_anim{
    from{left: -1px;}
    to{left: 100px;}
}

@keyframes player2_anim{
    from{left: 600px;}
    to{left: 500px;}
}

@keyframes counter {
    0%{
        background-image: url(imgs/three.png);
    }
    50%{
        background-image: url(imgs/two.png);
    }
    100%{
        background-image: url(imgs/one.png);
    }
}

@keyframes player-shot{
    from{visibility: visible;}
    to{visibility: hidden;}
}