/* Config geral */
html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;

    color: white;
}
/**/

/* config ancoras*/
a{
    text-decoration: none;
    color: white;
}

.header-menu nav a:hover{
    color: black;
}
/**/

/* config menu */
.search-bar button{
    background: none;
    border: none;
}
.search-bar input{
    border: none;
}
/**/

/* seção de resultados */
main {
    margin: 50px 20px;

    background-color: rgb(20, 20, 20);
    border: 10px solid brown;
    border-radius: 10px;

}

.results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 75, 75);

    border-bottom: 10px solid brown;
}

.results *{
    margin-right: 10px;
}

.results p{
    display: inline;
    margin: 0px;
    font-size: 20px;
}

.results h2{
    font-size: 30px;
    padding: 20px 0px 10px 20px;
    
}

.results-content {
    height: 70vh;
    overflow-y: scroll;
}

.results-content div{
    padding: 30px 20px 180px;
    border-bottom: 1px solid rgb(75, 75, 75);
}

.results-content a img{
    width: 150px;
}

footer{
    background-color: brown;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
}

footer img{
    width: 40px;
}

/**/

/*  ----------media queries----------- */

/* regras desktop */
@media screen and (min-width: 681px){
    /* inicio menu */
    .header-menu{
        background-color: brown;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
        padding: 10px;

        overflow: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu .menu-search{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu .menu-search ul{
        display: flex;
        list-style: none;

        margin: 0px;
        padding: 0px;
    }

    .header-menu img.logo{
        width: 60px;
        padding: 10px;
    }

    .header-menu nav li{
        padding: 0px 5px;

        border-radius: 20px;
    }

    .header-menu .menu-button{
        display: none;
    }

    .header-menu .search-bar{
        padding: 20px;
    }

    .header-menu .search-bar img{
        height: 24px;
        width: 24px;
    }

    .header-menu .search-bar input{
        border-radius: 50px;
    }

    .menu{
        visibility: visible;
    }

    .menu-toggle{
        visibility: hidden;
    }
    /* final menu*/

}

/* regras mobile */
@media screen and (max-width: 680px) {
    /* inicio menu*/
    .header-menu{
        position: fixed;
        top: 0px;
        padding-top: 10px;
        width: 100%;
        z-index: 3;

        background-color: brown;
      
    }

    .header-menu .menu-search{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
    }

    .header-menu nav.menu{
        position: absolute;
    }

    /* menu mobile */
    .menu-toggle{
        visibility: visible;
    }

    .menu-mobile{
        position: absolute;
        top: 136px;
        left: 0px;
        width: 100vw;
        background-color: rgb(197, 35, 35);
        border-bottom: 5px solid white;

        visibility: hidden;
    }

    .menu-mobile ul{
        overflow: auto;

        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .menu-mobile ul li{
        padding: 5px;
    }

    .menu-mobile ul li:nth-child(even){
        display: none;
    }

    .menu-toggle{
        background: none;
        border: none;
    }

    /**/

    .header-menu img.logo{
        display: block;
        margin: 0px auto;
        padding: 10px;
        width: 50px;
    }

    .header-menu .search-bar img{
        width: 30px;
    }

    .header-menu .search-bar input{
        border-radius: 50px;
    }

    .header-menu img.menu-button{
        width: 50px;
        padding: 5px;
    }
    /* fim menu*/

    main{
        margin-top: 150px;
    }
}