/* Config geral */
html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;

    background-color: rgb(20, 20, 20);
    color: white;
}

/* config ancoras*/
a{
    text-decoration: none;
    color: white;
}

.header-menu nav a:hover{
    background-color: rgb(73, 21, 21);
    color: rgb(184, 184, 184);
}

/* config menu */
header div.search-bar button{
    background: none;
}

/* config geral corpo*/
main section.new-movie h2{
    text-align: center;
}

main section.spotlight{
    background-color: rgb(49, 49, 49);
}

main section.news-about-editorial{
    background-color: rgb(49, 49, 49);

    margin-bottom: 10%;
    
}

/* config news*/
main section.news-about-editorial section.news div ul{
    display: flex;
    flex-wrap: wrap;
}

main section.news-about-editorial section.news div ul li{
    list-style: none;
    padding-left: 15px;
}

main section.news-about-editorial section.news div.news1{
    background-color: rgb(88, 88, 88);
    border-radius: 20px;    
}

main section.news-about-editorial section.news div.news3{
    background-color: rgb(88, 88, 88);
    border-radius: 20px;
}

/* config spotlight*/
main section.spotlight div.spotlight-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section.spotlight div.spotlight-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section.spotlight section.spotlight-comments{
    padding: 0px;
}

main > section{
    border-bottom: 5px solid white;
}

footer{
    background-color: rgb(49, 49, 49);
    border-top: 5px solid rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

footer img{
    width: 50px;
}
/* fim config geral */




/*  ----------media queries----------- */

/* regras desktop */
@media screen and (min-width: 681px){
    /* inicio menu */
    .header-menu{
        background-color: rgb(49, 49, 49);
        border-bottom: 5px solid rgb(255, 255, 255);

        padding: 10px;

        overflow: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu .menu-search{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu img.logo{
        width: 80px;
        padding: 10px;

        background-color: rgb(197, 35, 35);
        border-radius: 50px;
    }

    .header-menu nav a{
        padding: 8px;
        background-color: rgb(197, 35, 35);

        border-radius: 20px;
    }

    .header-menu .menu-button{
        display: none;
    }

    .header-menu .search-bar{
        padding: 20px;
    }

    .header-menu .search-bar img{
        height: 24px;
        width: 24px;
    }
    /* final menu*/

    /* inicio geral corpo */
    main section{
        padding: 25px;
        max-width: 1280px;
        margin: 0px auto;

    }

    /* config area destaque*/
    main section.spotlight div.spotlight-cards img{
        padding: 25px;
    }

    main section.spotlight div.spotlight-cards a img{
        max-width: 280px;
    }

    /* config das noticias */
    main section.news-about-editorial section.news div img{
        width: 100%;
        max-width: 150px;
        padding-top: 30px;

    }

}

/* regras mobile */
@media screen and (max-width: 680px) {
    /* inicio menu*/
    .header-menu{
        position: fixed;
        top: 0px;
        padding-top: 10px;
        width: 100%;
        z-index: 3;

        background-color: rgb(49, 49, 49);
        border-bottom: 5px solid rgb(255, 255, 255);
      
    }

    .header-menu .menu-search{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
    }

    .header-menu nav.menu{
        display: none;
    }

    .header-menu img.logo{
        display: block;
        margin: 0px auto;
        padding: 10px;
        width: 50px;

        background-color: rgb(197, 35, 35);
        border-radius: 50px;
    }

    .header-menu .search-bar img{
        width: 30px;
    }

    .header-menu img.menu-button{
        width: 50px;
        padding: 5px;
        background-color: rgb(197, 35, 35);
        border-radius: 50px;
    }
    /* fim menu*/

    /* geral corpo*/
    section.new-movie{
        margin: 180px 10px 10px;
    }

    section.new-movie iframe{
        width: 100%;
    }

    section.makingof div.comment iframe{
        width: 100%;
    }
    
    section{
        padding: 10px 10px 10px;
    }

    main section h2{
        text-align: center;
    }

    /* config area destaque*/
    main section.spotlight{
        padding: 5px;
    }

    main section.spotlight div.spotlight-cards img{
        padding: 8px;
    }

    main section.spotlight div.spotlight-cards a img{
        max-width: 150px;
    }

    /* config news*/
    main section.news-about-editorial section.news div{
        margin-bottom: 35px;
    }

    main section.news-about-editorial section.news div img{
        display: block;
        margin: 10px auto 0px;
        max-width: 120px;
        width: 100%;
    }

    /* rodapé*/

    footer img{
        display: none ;
    } 
}